body, html {
    padding: 12px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: black;
}

h1 {
    font-size: 56px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 42px;
	line-height: 1px;
}

h3 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 24px;
    font-weight: 400;
}

h5 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
}

a {
    color: white;
    text-decoration: none;
}

.topMenuItem, .bottomMenuItem {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.topMenuItem {
    padding-left: 4px;
}

.topMenuIcon {
    padding-right: 44px;
}

.bottomMenuItem {
    padding: 20px 40px 0px 40px;
}

#topMenuContainer {
    text-align: left;
    max-width: 1064px;
    margin: -22px auto;
    padding-bottom: 30px;
}

#topMenuContainer img {
    margin-left: -18px;
}

@media only screen and (max-width: 840px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 16px;
    }

    .bottomMenuItem {
        padding: 6px 24px;
    }
}
