#mainContent {
    text-align: left;
    max-width: 640px;
    margin: auto;
}

#appIconAndTitle {
    text-align: center;
}

#appIcon, #pageTitle {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 32px;
}

#pageTitle {
    margin-bottom: 8px;
}

#qna {
    margin-top: 48px;
}

#qna a {
    text-decoration: underline;
}

#email {
    padding: 12px 0px;
}

#bottomMenu {
    text-align: center;
}

@media only screen and (max-width: 840px) {
    #appIcon, #pageTitle {
        padding: 8px 20px;
    }

    #appIcon {
        width: 80px;
    }
}
